<% include layout %>
<div class="row">
  <div class="page-header">
    <h1>Prioridades</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Lista de prioridades</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Prioridad</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: prioridades">
        <tr>
          <td data-bind="text: nombre"></td>
          <td>
             <div class="btn-group"> <button style="margin-right:20px;" class="btn btn-outline-warning waves-effect"
                    data-toggle="modal"
                    data-target="#modalEditarPrioridad"
                    data-bind="click: $root.editar">
                    Editar </button>
                    <button style="margin-right:20px;" class="btn btn-outline-danger waves-effect" 
                        data-bind="click: $root.eliminar" onclick="location.href = 'http://localhost:3000/Prioridades';">Eliminar</button>
                    </div>
                </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-danger waves-effect" data-toggle="modal" data-target="#modalPrioridadNueva">
        Agregar
    </button>

    <!-- Modal Agregar Contacto -->
    <div class="modal fade" id="modalPrioridadNueva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/api/prioridad" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="nombre"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Editar Contacto -->
        <div class="modal fade" id="modalEditarPrioridad" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" data-bind="if: tipoCargado">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form data-bind="submit: editar">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Editar Evento</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputId">Id</label>
                                <input type="text" class="form-control" name="inputId" id="inputId"
                                       data-bind="value: tipoCargado().idPrioridad" />
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre"
                                       data-bind="value: tipoCargado().nombre" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


  </div>
</div>
<% include footer %>
<script src="/javascripts/prioridadCliente.js"></script>
